<footer class="Footer">
<div class="Call"><h1>Reach Your Goals With NO LIMITS!</h1><div class="break"></div>
<div onclick="">
<div class="button"><a href="#">Join Us!</a></div></div></div>
<section class="footer-links">
<figure class="link1"><a href="https://twitter.com/"><img class="footer-social-icon twitter" src="/images/uploads/icons/5282551_tweet_twitter_twitter_logo_icon(1).png" alt="Attachment.png"></a></figure><figure class="link2">
<a href="https://facebook.com/"><img class="footer-social-icon facebook" src="/images/uploads/icons/5282541_fb_social_media_facebook_facebook_logo_social_network_icon.png" alt="Attachment.png"></a></figure><figure class="link3">
<a href="https://instagram.com/"><img class="footer-social-icon insta" src="/images/uploads/icons/5282544_camera_instagram_social_media_social_network_instagram_logo_icon.png"></a></figure></section></footer>