@import 'tailwindcss';
@import "tw-animate-css";
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/laravel/jetstream/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../js/**/*.vue';

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-primary-base, currentcolor);
  }
    *{
    box-sizing: border-box;
    margin:0;
    padding:0;
   line-height: 1.5;
  }
}

:root {
	--color-surface-base: #1D2b53;
	--color-surface-10: #D2d5dd;
	--color-surface-30: #8e95A9;
	--color-surface-50: #434e70;
	--color-surface-70: #131d37;
	--color-surface-90: #0a0e1c;
	--color-primary-base: #fcf259;
	--color-primary-10: #fefcde;
	--color-primary-30: #fef9ac;
	--color-primary-50: #fdf475;
	--color-primary-70: #aba13b;
	--color-primary-90: #54511E;
	--color-text-primary: var(--color-primary-10);
	--color-text-dark: var(--color-primary-90);
	--card-baground-normal: var(--color-primary-base);
	--background: var(--color-surface-base);
	--color-secondary-base: #c5172E;
	--color-secondary-10: #f3d1d5;
	--color-secondary-30: #e28897;
	--color-secondary-50: #cf3e51;
	--color-secondary-70: #830f1f;
	--color-secondary-90: #42080f;
    --primary-color:var(--color-primary-base);
    --primary-glow: #f9e35b;
    --secondary-color:#e67e22;
    --text-color: #f5f7f9;
    --bg-color: var(--color-surface-base);
    --nav-bg: #6e1f1a;
    --dropdown-bg: rgba(from var(--color-primary-base) R G B / 0.7);
    --hover-color: #3f51b5;
    --border-color: #f4d03f;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --neon-glow: 0 0 10px rgba(33, 150, 243, 0.5),
                 0 0 20px rgba(33, 150, 243, 0.3),
                 0 0 30px rgba(33, 150, 243, 0.1);
    --transition-fast: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    --transition-medium: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --transition-slow: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    --gradient-bg: linear-gradient(135deg, var(--bg-color), #666666);
    --glass-effect: saturate(180%) blur(10px);
    --border-radius: 12px;
    --text-description: rgba(255, 255, 255, 0.7);

  --card-height: 50vw;
  --card-margin: 6vw;
  --card-top-offset: 2em;
  --numcards: 3;
  --outline-width: 0px;

--_noise-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'><defs><filter id='n' x='0' y='0' width='100%' height='100%' color-interpolation-filters='sRGB'><feTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='3' stitchTiles='stitch' result='t'/><feColorMatrix type='saturate' values='0' in='t' result='g'/><feComponentTransfer in='g' result='a'><feFuncA type='linear' slope='0.5'/></feComponentTransfer></filter></defs><rect width='100%' height='100%' filter='url(%23n)'/></svg>");

--_noise-size: 17%;
--_gradient-blend-mode: normal;
--_gradient-blur: 40px;
--_gradient: radial-gradient(at 15.976810505685885% 21.258802816901408%, #0A0E1C 0px, transparent 50%), radial-gradient(at 59.38904601518583% 20.836267605633804%, #141E38 0px, transparent 50%), radial-gradient(at 65.99852131767025% 69.85035211267606%, #434F70 0px, transparent 50%), radial-gradient(at 34.453298283085516% 27.596830985915492%, #FCF374 0px, transparent 50%), radial-gradient(at 67.95132083885883% 37.87852112676056%, #CF3E51 0px, transparent 50%);
  


  }



html {
	scroll-behavior: smooth;
}

  body{

background: var(--_gradient) #1d2b53;
mix-blend-mode: var(--_gradient-blend-mode);


overflow-x: hidden;
color: var(--color-text-primary);
font-family: 'Andada Pro', serif;
  font-size: 16px;
 display:flex;
  flex-direction: column;
    min-height:100vh;
    width:screen;


    overscroll-behavior-y: none;
  }
main{
	background: radial-gradient(at 6% 62%, #8D95A8 0px, transparent 50%), radial-gradient(at 24% 36%, #0A0E1C 0px, transparent 50%), radial-gradient(at 90% 96%, #D3D6DE 0px, transparent 50%), radial-gradient(at 10% 43%, #141E38 0px, transparent 50%), radial-gradient(at 73% 31%, #434F70 0px, transparent 50%) #1d2b53;
mix-blend-mode: var(--_gradient-blend-mode);
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  header{
    min-height: 50px;
  }

  h1, h2{
    font-family: 'Protest Riot', sans-serif;
  }

